
* {
  margin: 0;
}

/* Banner Stylings */
.banner {
  display: flex;
  flex-direction: row;
  -webkit-transition: margin-left .2s linear;
  transition: margin-left .2s linear;
  height: 32em;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.banner:hover {
  margin-left: -2em;
  cursor: pointer;
}

.bannerBackground {
  cursor: pointer;
  margin: 0;
  background-color: white;
}

.leftImg {
  object-fit: cover;
  margin-right: .25em;
  width: 49.5vw;
  height: 100%;
  margin-left: 0;
}

@media screen and (max-width: 750px) {
  .rightImg {
    display: none;
  }
  
  .leftImg {
    width: 100%;
    margin: 0;
  }

  .viewBtn {
    opacity: 1;
  }
}

@media screen and (min-width: 751px) {
  .banner:hover .viewBtn {
    opacity: 1;
  }
  .viewBtn {
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
  }

  .leftImg {
    width: 100%;
  }
}

.rightImg {
  margin-left: .25em;
  padding: 0;
  max-width: 53vw;
  height: 100%;
  object-fit: cover;
}

.viewBtn {
  opacity: 0;
  background-color: white;
  position: absolute;
  right: 2em;
  top: 447px;
  border-radius: 4px;
  height: 2.5em;
  width: 7em;
  font-family: 'Calibri';
  border: none;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  cursor: pointer;
}

.banner:hover .viewBtn {
  opacity: 1;
}







/* Gallery Stylings */ 
.gallery {
  display: block;
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.thumbnailList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.thumbnailImg {
  width: 100px;
  margin: 0 5px 0 5px;
  opacity: .4;
}

.thumbnailImg:hover {
  opacity: 1;
}

.spotlightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spotlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spotlightImg {
  max-width: 80%;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 40px;
  font-size: 40px;
}

.arrow {
  width: 90px;
  cursor: pointer;
  top: 50%;
  margin-top: -50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.spotlightInfo {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 2px 16px;
  color: white;
}

.close {
  cursor: pointer;
}

.captionContainer {
  display: block;
  float: left;
  text-align: left;
  width: 50em;
}

.toggleThumbnails {
  float:right;
  right: 10em;
  cursor: pointer;
}

.shownThumbnails {
  display: none;
}
